[submodule "references_repo/kasm_workspaces_registry"]
	path = references_repo/kasm_workspaces_registry
	url = https://github.com/linuxserver/kasm_workspaces_registry
[submodule "references_repo/kasmtech-noVNC"]
	path = references_repo/kasmtech-noVNC
	url = https://github.com/kasmtech/noVNC.git
[submodule "references_repo/workspaces-core-images"]
	path = references_repo/workspaces-core-images
	url = https://github.com/kasmtech/workspaces-core-images.git
