[submodule "references_repo/kasm_workspaces_registry"]
	path = references_repo/kasm_workspaces_registry
	url = https://github.com/linuxserver/kasm_workspaces_registry
[submodule "references_repo/kasmtech-noVNC"]
	path = references_repo/kasmtech-noVNC
	url = https://github.com/kasmtech/noVNC.git
[submodule "references_repo/workspaces-core-images"]
	path = references_repo/workspaces-core-images
	url = https://github.com/kasmtech/workspaces-core-images.git
[submodule "references_repo/ttyd"]
	path = references_repo/ttyd
	url = https://github.com/tsl0922/ttyd.git
[submodule "references_repo/JupyterLab"]
	path = references_repo/JupyterLab
	url = https://github.com/jupyterlab/jupyterlab.git
[submodule "references_repo/gvisor"]
	path = references_repo/gvisor
	url = https://github.com/google/gvisor
[submodule "references_repo/docker-docs"]
	path = references_repo/docker-docs
	url = https://github.com/docker/docs.git
